@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  
  --color-border: var(--border);
  --color-input: var(--input);
  
  --color-status-error: var(--status-error);
  --color-status-warning: var(--status-warning);

  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  :root {
    --background: #f8fafc;
    --surface: #ffffff;
    --surface-hover: #f1f5f9;

    --primary: #22c55e;
    --secondary: #3b82f6;

    --text-main: #1e293b;
    --text-secondary: #64748b;

    --border: #e2e8f0;
    --input: #ffffff;

    --status-error: #ef4444;
    --status-warning: #f59e0b;

    font-family: var(--font-inter); 
  }

  .dark {
    --background: #0f172a;
    --surface: #1e293b;
    --surface-hover: #334155;

    --text-main: #f8fafc;
    --text-secondary: #94a3b8;

    --border: #334155;
    --input: #334155;

    --status-error: #f87171;
    --status-warning: #fbbf24;
  }
}

.font-roboto {
  font-variation-settings: "wdth" 100;
}